<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login - Tinder do Aço</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Login - Tinder do Aço 🔐</h1>

    <form action="/login" method="POST">
        <label>Celular:</label><br>
        <input type="text" name="celular" required><br><br>

        <label>Senha:</label><br>
        <input type="password" name="senha" required><br><br>

        <button type="submit">Entrar</button>
    </form>

</body>
</html>
